<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar h2 {
    flex: auto;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  /*a,*/
  /*a:visited,*/
  /*a:hover {*/
  /*  color: #1976d2;*/
  /*  text-decoration: none;*/
  /*}*/

  /*a:hover {*/
  /*  color: #125699;*/
  /*}*/

  th, td {
    padding: 0.5em;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
    padding: 1em;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h2>Pokedense, the only webapp that estimate pokemon buoyancy!</h2>
</div>

<div class="content" role="main">

  <!-- TODO filter form -->
  <ng-form>

  </ng-form>

  <!-- TODO filtered list -->
  <table>
    <thead>
    <th>Name</th>
    <th>Height {{ pokemons[0] ? "(" + pokemons[0].heightUnit + ")" : "" }}</th>
    <th>Weight {{ pokemons[0] ? "(" + pokemons[0].weightUnit + ")" : "" }}</th>
    <th>Estimated density<!-- TODO volume: round = 4/3×π×(h/2)³ ; humanoid ~ height × height/4 × height/8 --></th>
    <th>Will it float? <!-- density compared to 1kg/dm³ --></th>
    </thead>
    <tbody>
    <tr *ngFor="let pokemon of pokemons">
      <td>{{pokemon.name}}</td>
      <td>{{pokemon.height}}</td>
      <td>{{pokemon.weight}}</td>
      <td>TODO</td>
      <td>TODO</td>
    </tr>
    </tbody>
  </table>

  <!-- Footer -->
  <footer>
    <a
      *ngIf="hasPreviousPage()"
      (click)="goToPreviousPage()"
      href="#">
      &lt; Previous
    </a>
    <a
      *ngIf="hasNextPage()"
      (click)="goToNextPage()"
      href="#">
      Next &gt;
    </a>
  </footer>

</div>

