<style>
  th, td {
    padding: 0.5em;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
    padding: 1em;
  }

</style>

<form [formGroup]="searchForm" (ngSubmit)="search()">
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="height">Height</label>
    <select name="heightOperator" formControlName="heightOperator">
      <option value="lt">&lt;</option>
      <option value="eq">=</option>
      <option value="gt">&gt;</option>
    </select>
    <input id="height" type="number" min="0" formControlName="height">
    <span>dm</span>
  </div>

  <div>
    <label for="weight">Weight</label>
    <select name="weightOperator" formControlName="weightOperator">
      <option value="lt">&lt;</option>
      <option value="eq">=</option>
      <option value="gt">&gt;</option>
    </select>
    <input id="weight" type="number" min="0" formControlName="weight">
    <span>hg</span>
  </div>


  <button class="button" type="submit">Search</button>
</form>

<table *ngIf="lastResponse as result">
  <thead>
  <th>Name</th>
  <th>Height {{ result.records[0] ? "(" + result.records[0].heightUnit + ")" : "" }}</th>
  <th>Weight {{ result.records[0] ? "(" + result.records[0].weightUnit + ")" : "" }}</th>
  <!-- TODO volume: round = 4/3×π×(h/2)³ ; humanoid ~ height × height/4 × height/8
  <th>Estimated density</th>
   -->
  <!-- density compared to 1kg/dm³
  <th>Will it float?</th>
  -->
  </thead>
  <tbody>
  <tr *ngFor="let pokemon of result.records">
    <td>{{pokemon.name}}</td>
    <td>{{pokemon.height}}</td>
    <td>{{pokemon.weight}}</td>
    <!--
    <td>TODO</td>
    -->
    <!--
    <td>TODO</td>
    -->
  </tr>
  </tbody>
</table>

<!-- Footer -->
<footer>
  <a
    *ngIf="hasPreviousPage()"
    (click)="goToPreviousPage()"
    href="#">
    &lt; Previous
  </a>
  <a
    *ngIf="hasNextPage()"
    (click)="goToNextPage()"
    href="#">
    Next &gt;
  </a>
</footer>
